@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --text-color: #fff;
    }
}

.textol{
    color: chartreuse;
}
/* 
img {
    border-radius: 50px;
} */

.tarjetaprod{
    width: 25%;
    height: auto;
}
